*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* border: 1px solid red; */
    /* position: fixed !important; */
    position: sticky;
    z-index: 20;
    top: 0;
    
    
    

   
}


.nav-logo{
    display: flex;
    padding: 0.5rem;
    border-radius: 0.625rem;
    /* border: 2px solid greenyellow; */
          

    
}
.nav-logo i{
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    
}
/* mobile */
@media only screen and (min-width:300px) and (max-width:599px){
    .logo-box i{
        font-size: 2rem;
        padding: 0;
        margin: 10px;

    }
    .nav-text{
        font-size: 10px;
    }
    .nav-text2{
        font-size: 20px;
    }
   .nav-logo{
    padding: 10px;
    margin-right: 40px;
   }
}


.nav-text{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    
    /* font-size: 100%; */

}
.nav-text i{
    border: 1px solid green;
    
    
    
   
}
.nav-text2{
    font-size: 0.5rem;
    font-style: italic;
}
.logo-box{
    display: flex;
    border: 1px solid seagreen;
    box-sizing: border-box;
    padding: 0.2%;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 5px 5px 5px 1px black;
    /* margin-left: 20%; */
    
    
   
}
.logo-box:hover{
    transform: scale(1.1);
}
 .nav-text:hover{
    transform: scale(1.1);
 }
.main{
    display: flex;
    justify-content: space-evenly;
    background-color: #4caf50;
    
    
   

}
.navmain{
    margin: 0%;
    padding: 0;
}
.nav-item {
    margin-left: 50px;
    color: white;
}
.content{
    color: white;
    font-weight: 500;
}
.content:hover{
    background-color: aliceblue;
}


/* sec2 starts here */
.sec2-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* width: 100%; */
    margin: 5%;
    padding: 2%;
}
.sec2-content1{
    /* border: 1px solid red; */
    width: 100%;
    height: 50vh;
    
    
}
.sec2-images{
    width: 100%;
    height: 50vh;
    /* border: 1px solid red; */
    padding: 5%;
    transition: all 1s;
    
}

.sec2-images:hover{
    transform: rotate(90deg);
}

/* mobile */
@media only screen and (min-width:300px) and (max-width:599px){
    .sec2-content{
        grid-template-columns: auto;
        
    }
    .sec2-images{
        width: 100%;
        /* height: 25vh; */
    }
}
/* tablet */
@media only screen and (min-width:600px) and (max-width:769px){
    .sec2-content{
        grid-template-columns: auto auto;
        
    }
    .sec2-images{
        width: 100%;
        /* height: 25vh; */
    }
}



/* footer section starts here */
footer{
    width: 100%;
    height: 20vh;
    background-color: #4caf50;
  }

  .footer-sec{
    /* padding: 5%; */
    text-align: center;
    padding-top: 4%;
    color: aliceblue;

  }
  @media only screen and (min-width:300px) and (max-width:599px){
    .footer-sec{
        padding-top: 5%;
        text-align: center;
        color: aliceblue;
        font-size: 16px;
    }
    footer{
        height: 13vh;
    }
  }